* {
  @include box-sizing;
  line-height: 1.5;
}

@keyframes breathing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

html,
body {
  color: $default-color;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  font-family: $serif-primary;
  font-size: 14px;
  overflow-y: scroll;

  @media (min-width: 600px) {
    font-size: 16px;
  }
}

.about-html {
  overflow-y: scroll;
}

body {
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-shade;
  font-family: $sans-serif;
  line-height: normal;
}

a {
  color: black;
  text-decoration: none;
}

blockquote {
  border-left: 0.25rem solid $grey-2;
  color: $grey-1;
  margin: 0.8rem 0;
  padding: 0.5rem 1rem;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

td {
  vertical-align: top;
}

.container-main {
  display: flex;
  height: 95vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 456px) {
    height: 95dvh;
  }
}
.container-slogan {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: "Quicksand", serif;
  letter-spacing: 0.2px;

  @media (max-width: 800px) {
    font-size: 1.5rem;
  }

  @media (max-width: 456px) {
    font-size: 1.1rem;
  }
  @media (max-width: 400px) {
    font-size: 1rem;
  }
}

.container-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container-links-link {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  font-family: "Quicksand", serif;
  font-size: 1.2rem;
}

.container-links-link:first-child {
  margin-top: 20px;
}

.container-links-link:last-child a {
  color: rgb(221, 158, 111);
}

.container-links-link-dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #e1bb9d;

  @media (max-width: 456px) {
    width: 7px;
    height: 7px;
  }
}

.gabs {
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

#link-text:hover ~ #link-dot {
  transform: scale(3);
}

#link-dot:hover {
  transform: rotate(5deg);
}

.container-logo-logo {
  width: 460px;
  animation: breathing 8s infinite ease-in-out;
  height: auto;

  @media (max-width: 456px) {
    margin-top: -2rem;
  }
}

.about-container-main {
  margin-top: 1.2rem;
  margin-bottom: 30px;
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: black;

  @media (max-width: 1200px) {
    flex-direction: column;
    margin-top: 4rem;
  }
}

.about-container-main,
.about-container-main h4 {
  font-family: "Quicksand", sans-serif;
}

.about-container-main h4 {
  color: #e0ac84;
  font-size: 1.1rem;
}

.about-container-left {
  min-width: 510px;
  padding-right: 60px;
  @media (max-width: 1200px) {
    max-width: 800px;
    min-width: 0;
    padding: 2rem;
  }
}

.about-container-left-photo {
  max-width: 100%;
  height: auto;
}

.cennik-container-main {
  margin-top: 1.7rem;
  margin-bottom: 50px;
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  color: black;

  @media (max-width: 1100px) {
    width: 100%;
    flex-direction: column;
  }
}

.cennik-container-main,
.cennik-container-main h4 {
  font-family: "Quicksand", sans-serif;
}

.cennik-container-main h4 {
  color: #a77651a9;
  font-size: 1.1rem;
}

.cennik-container-left {
  max-width: 80%;
}

.cennik-container-right-foto {
  display: inline-block;
  position: relative;
  max-width: 100%;
  height: auto;
}

.cennik-container-right {
  display: flex;
  justify-content: center; 
  align-items: center;
  max-width: 30%; 
  position: relative;
  display: inline-block;
  @media (max-width: 1100px) {
    max-width: 70%;
    flex-direction: column;
  }
}

.cennik-container-right::after {
  content: "Do zobaczenia online <3";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: #333;
  white-space: nowrap;

}

.policy-container-head {
  display: flex;
  justify-content: center;
}

.policy-container-main {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  text-align: center;
  padding: 1rem;
  font-family: 'Quicksand', sans-serif;
}

.policy-container-main li {
  text-align: left;
}

.circle-bg {
  width: 1000px;
  height: 1000px;
  background-color: #e1ba9d8c;
  border-radius: 50%;
  position: fixed;
  bottom: -350px;
  right: -350px;
  z-index: -10;
}

.circle-bg-act {
  width: 1000px;
  height: 900px;
  background-color: #e1ba9d8c;
  border-radius: 50%;
  position: fixed;
  bottom: -40rem;
  left: -150px;
  z-index: -10;
}

.circle-bg-act2 {
  width: 600px;
  height: 600px;
  background-color: #e1ba9d8c;
  border-radius: 50%;
  position: fixed;
  top: -10rem;
  right: -150px;
  z-index: -10;
}

.circle-bg-cennik {
  width: 1600px;
  height: 1600px;
  background-color: #e1ba9d8c;
  border-radius: 50%;
  position: fixed;
  top: -35%;
  left: -10%;
  z-index: -10;
}

h4 {
  margin-bottom: 2px;
}

ul {
  margin-top: 1px;
}

li::marker {
  color: #d1a888a9;
}

.act-container-main {
  display: flex;
  // max-width: 800px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  color: black;
  
}

.act-container-main h4 {
  font-family: "Quicksand", sans-serif;
  color: #a77651a9;
  font-size: 1.3rem;
}


.act-container-main-up,
.act-container-main-down {
  max-width: 1000px;
  padding: 0.5rem;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
}

.act-container-main-up {
  padding-right: 200px;
  @media (max-width: 650px) {
    padding: 2rem;
    font-size: 1.1rem;
  }
}

.act-container-main-down {
  padding-left: 200px;
  text-align: end;
  @media (max-width: 650px) {
    padding: 0 3rem 3rem 3rem;
    font-size: 1.1rem;
  }
}

.act-call-to-action {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.powrot {
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

.logo-blog {
  width: 64px;
  height: auto;
}
