<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
    <link rel="preload" href="{{ site.baseurl }}/assets/fonts/Bristol.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
  </head>
  <body>
    
    {{ content }}
    <main class="container-main">
      <div class="container-logo"><img src="{{ site.baseurl }}/assets/images/1.png" alt="" class="container-logo-logo"></div>
      <div class="container-slogan-links">
        <div class="container-slogan">Psychoterapia Akceptacji i Zaangażowania</div>
        <div class="container-links">
        {% include navigation1.html %}
        </div>
      </div>
      
    </main>
  </body>
</html>